.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust to the container's width */
  height: 90vh;
  overflow: hidden; /* Hide overflowing content */
 gap:20px ;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 700px; /* Make the image fill the slide */
  height: 80vh; /* Make the image fill the slide */
  flex-shrink: 0; /* Prevent shrinking of the slides */
  overflow: hidden; /* Hide overflowing content */
  position: relative; /* Positioning context for the cover object */
}
