.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
  }
  
  .slide {
    width: 90%;
    height: 80vh;
    margin-left: 5%;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background: transparent;
    color: #fff;
  }
  
  .prev-button {
    left: 0;
  }

  /* Existing styles for slideshow and buttons */

/* New styles for dot indicators */
.dot-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: yellow;
  }
  
  
  .next-button {
    right: 0;
  }
  